<!-- <div class="min-h-scren bg-gradient-to-br rom-gray-900 via-gray-800 to-gray-900 text-white flex flex-col items-center justify-center p-8 relative"> -->


   
    <div class="min-h-screen bg-cover bg-center bg-no-repeat bg-[url('https://images.unsplash.com/photo-1737069222401-afd3720775ae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] text-white flex flex-col items-center justify-center p-8 relative">

    <div class="absolute top-8 left-8">
        <button 
          (click)="logOut()"
          class="bg-red-600 hover:bg-red-500 text-white font-bold px-5 py-2 rounded-full flex items-center gap-2 shadow-lg transition-all duration-300 transform hover:scale-110"
        >
          <span class="material-icons">logout</span> Logout
        </button>
      </div>
  
    
    <div class="absolute top-8 right-8">
      <div class="relative">
        <img 
          [src]="uploadedImageUrl || 'https://via.placeholder.com/100'" 
          alt="Profile " 
          class="w-20 h-20 rounded-full border-4 border-indigo-500 shadow-xl object-cover transition duration-300 hover:scale-105"
        />
      </div>
    </div>
  
    
    <div class="text-center">
      <h1 class="text-5xl font-extrabold text-black-400 tracking-wide">Welcome Home Dear!</h1>
      <p class="text-lg text-white-300 mt-3 italic">Glad to have you back.</p>
    </div>
  
    
    <div class="bg-gray-800 p-6 rounded-xl shadow-lg mt-8 text-center w-full max-w-md">
      <h1 class="text-2xl font-bold text-green-400">Your Email ID</h1>
      <p class="text-lg text-gray-300 mt-2 tracking-wide">{{userEmail}}</p>
    </div>
  
    <h1 class="text-lg text-white-400 mt-6 font-medium tracking-wide uppercase">Make it more personal with a profile picture</h1>
  
    
    <div class="mt-6 flex flex-col items-center gap-5">
      
     
      <p class="text-md text-gray-300 font-semibold italic bg-gray-700 px-4 py-2 rounded-lg shadow-md">
        Do you need a profile photo? Then why wait? Upload it now!
      </p>
  
      
      <label class="cursor-pointer bg-blue-600 hover:bg-blue-500 text-white px-5 py-3 rounded-lg flex items-center gap-3 shadow-md transition-all duration-300 transform hover:scale-105">
        <input type="file" (change)="onFileSelected($event)" class="hidden" />
        <span class="material-icons">attach_file</span> Choose File
      </label>
  
      
      <button 
        (click)="uploadImage()" 
        class="bg-green-600 hover:bg-green-500 text-white px-5 py-3 rounded-lg flex items-center gap-3 shadow-md transition-all duration-300 transform hover:scale-105"
      >
        <span class="material-icons">cloud_upload</span> Upload Image
      </button>
    </div>
    
  </div>
  
  