
<div>

    <div>
        <h1>
            This is your home!Welcome back
        </h1>
    </div>
    <div>
        <h1>your EmailId:{{userEmail}}</h1>
        <h1>interesting right</h1>
    </div>
   

    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="uploadImage()">Upload Profile Image</button>



    <div *ngIf="uploadedImageUrl">
        <h2>Your Profile Image</h2>
        <img [src]="uploadedImageUrl" alt="Profile Image" width="200" height="200" />
    </div>

</div>

